<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div>
        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h2>Loteria Semanal</h2>
                <p>

                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button>Jugar</button>
                <button mat-button>Saber mas</button>


                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon>share</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>

    </div>

    <div>
        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h2>Loteria Mensual</h2>
                <p>

                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button>Jugar</button>
                <button mat-button>Saber mas</button>


                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon>share</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
    </div>

</div>